
    <footer class="footer">
        <ul class="pull-left list-inline">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <p class="pull-right">&copy; <b>2016 All rights reserved.</b></p>
    </footer>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="temp/home-charts.js"></script>
    <script>

    </script>