<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simplify with your business</title>
			<% include ../partials/head %>
        <!-- Bootstrap -->
    </head>
  <body>
      <%include ../partials/header%>
      <!-- Fixed navbar -->
      
	  
	  <div class="container" style="margin-top:50px;">
		  <h1>About Us</h1>
		  <p class="text-muted">Welcome to our site</p>
		  
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor diam, facilisis ut eleifend non, convallis id massa. Nunc vulputate non arcu nec gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet est erat. Fusce sed dapibus massa, in scelerisque eros. Vestibulum ut lacinia risus, ut viverra nisl. Nullam et commodo metus, ut bibendum tortor. Mauris volutpat dolor eget arcu pellentesque, vitae suscipit velit dignissim.</p>

		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor diam, facilisis ut eleifend non, convallis id massa. Nunc vulputate non arcu nec gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet est erat. Fusce sed dapibus massa, in scelerisque eros. Vestibulum ut lacinia risus, ut viverra nisl. Nullam et commodo metus, ut bibendum tortor. Mauris volutpat dolor eget arcu pellentesque, vitae suscipit velit dignissim.</p>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor diam, facilisis ut eleifend non, convallis id massa. Nunc vulputate non arcu nec gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet est erat. Fusce sed dapibus massa, in scelerisque eros. Vestibulum ut lacinia risus, ut viverra nisl. Nullam et commodo metus, ut bibendum tortor. Mauris volutpat dolor eget arcu pellentesque, vitae suscipit velit dignissim.</p>
		  <p>Cras vitae mi ut massa efficitur pharetra. Cras tincidunt nunc a nulla lobortis lacinia. Quisque cursus, risus at ultrices facilisis, mi lectus vulputate nulla, vitae tincidunt justo dui eu nisl. Morbi tincidunt gravida rutrum. Suspendisse iaculis dolor quis sapien euismod commodo. Fusce viverra leo vitae sodales hendrerit. Maecenas laoreet ut orci ac suscipit. Sed felis libero, blandit vel fermentum et, elementum non urna. Proin finibus massa vel laoreet laoreet. Cras accumsan, dolor quis bibendum vehicula, arcu turpis pretium urna, at pharetra metus augue a enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras a vestibulum libero, a fringilla elit. Curabitur sagittis lorem nibh, nec rhoncus nulla facilisis id. Cras ac tempor augue. Aliquam condimentum, magna sed ultricies dapibus, quam metus accumsan sapien, porttitor molestie metus mi efficitur elit. Vestibulum ultrices maximus libero id finibus.</p>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor diam, facilisis ut eleifend non, convallis id massa. Nunc vulputate non arcu nec gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet est erat. Fusce sed dapibus massa, in scelerisque eros. Vestibulum ut lacinia risus, ut viverra nisl. Nullam et commodo metus, ut bibendum tortor. Mauris volutpat dolor eget arcu pellentesque, vitae suscipit velit dignissim.</p>
		  
		  
	  </div>
	  
	 
      
      <%include ../partials/footer%>
	        
  </body>
</html>