<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simplify with your business - Polls</title>
		<% include ../partials/head %>
    </head>
  <body>
      <%include ../partials/header%>
      <!-- Fixed navbar -->
	  <div class="container container-margin-top">
		  <h1>Polls</h1>
		  <div class="row">
			  <div class="col-xs-12 col-md-12 pollDiv">
				  <div class="row">
					  <div class="col-md-6 col-xs-12">
						  <div class="pollDetail pull-left">
							  <strong>Poll Example 1</strong>
							  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.View details</p>
							  
						<ul class="list-group">
							<li class="list-group-item">
								<div class="radio">
									<label><input type="radio" name="optradio">Java</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="radio">
									<label><input type="radio" name="optradio">C#</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="radio">
									<label><input type="radio" name="optradio">Pyhton</label>
								</div>
							</li>
						</ul>
						  </div>
					  </div>
					  <div class="col-md-6 col-xs-12">
						  <div id="pollChart" class="pollChart pull-right">
						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="col-xs-12 col-md-12 pollDiv">
				  <div class="row">
					  <div class="col-md-6 col-xs-12">
						  <div class="pollDetail pull-left">
							  <strong>Poll Example 1</strong>
							  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.View details</p>
							  
						<ul class="list-group">
							<li class="list-group-item">
								<div class="radio">
									<label><input type="radio" name="optradio">Java</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="radio">
									<label><input type="radio" name="optradio">C#</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="radio">
									<label><input type="radio" name="optradio">Pyhton</label>
								</div>
							</li>
						</ul>
						  </div>
					  </div>
					  <div class="col-md-6 col-xs-12">
						  <div id="pollChart2" class="pollChart pull-right">
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
	  
	  <%include ../partials/footer%>
	  <script src="temp/pie-chart.js"></script>
  </body>
</html>